<main class="showcase">
	<article class="order">
		<img src="/assets/illustration-hero.svg" alt="Dancing hero" class="order--image">

		<div class="order--content">
			<div>
				<h1 class="heading">Order Summary</h1>
				<p class="description">
					You can now listen to millions of songs, audiobooks, and podcasts on any 
					device anywhere you like!
				</p>
			</div>

			<div class="order--plan">
				<img src="/assets/icon-music.svg" alt="Music note" class="icon">
				<span class="type" data-price="$59.99/year">Annual Plan</span>
				<span class="change">Change</span>
			</div>

			<button class="order--payment">Proceeed to Payment</button>
			<span class="order--cancel">Cancel Order</span>
		</div>
	</article>
</main>
